body{
	background: lightblue;
}
.container-fluid{
	padding: unset !important;
}
.cloud{
    padding: 20px;
	text-align: center;
	box-sizing: border-box;
    	
	}
.cloud > img{
		transform: scale(3,0.5);
	}
.circle{
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: #fff;
	background: red;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 1s, transform 0.3s 1s linear;
}
.circle:hover {
	background: salmon;
	transform: scale(2, 2) rotate(360deg);
}
.grass{
	height: 200px;
	background: green;
}
.road {
	background: grey;
	height: 440px;
	display: flex;
	align-items: center;
	position: relative;
}
.lines{
	position: absolute;
    box-sizing: border-box;
    border: 5px dashed #fff;
    width: 100%;
    height: 0;
}
.mario{
	position: absolute;
	top: 50px;
	animation-name: drive;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,.77,1,.28);

}

@keyframes drive {
	from { transform: translateX(-200px); }
	to {

 		transform: translateX(2000px);
	}
}