.div{
  width: 100%;
  height: 500px;
  background: red

}
.iconP{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.inside-circle-icon {
  position: relative;
  margin: 5px auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 150px #ccc;
}
.parent{
  display: flex;
  margin-bottom: 30px;
}
.parent img {
  margin-right: 30px;
}
.div-left{
  margin-right: 30px;

}
.div-left-parent{
  display: flex;
}
.left{
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 30px;
}
.left-line{
  position: relative;
}
.line-0{
  position: absolute;
  width: 5px;
  height: 126px;
  background: rgba(0, 159, 223, 0.3);
  left: 12px;
  border-bottom-left-radius: 5px;

}
.line-in-0{
  background: red;
  border-bottom-left-radius: 5px;
}
.line-01{
  position: absolute;
  width: 606px;
  height: 5px;
  top: 151px;
  left: 32px;
  background: rgba(0, 159, 223, 0.3);
  display: flex;

}
.line-in-01 {
  background: red
}
.line{
  width: 50px;
  height: 5px;
  display: flex;
  transform: rotate(180deg);
  background: rgba(0, 159, 223, 0.3);
}
.line-1 {
  border-bottom-right-radius: 5px;
}
.line-3{
  width: 50px;
  height: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  background: rgba(0, 159, 223, 0.3);
}
.line-in-3 {
  background: red;
  border-bottom-left-radius: 5px;
}
.line-in {
  background: red;
  border-top-left-radius: 5px;
  transform: rotate(-180deg);
}
.wrapper {
   padding-top: 30px;
   margin-left: -300px;
}
 .outside-circle {
   margin: 0 auto;
   width: 100px;
   height: 100px;
   border-radius: 80px;
   overflow: hidden;
}
 .outside-circle.is-active {
   box-shadow: 0 0 0 20px rgba(0, 159, 223, 0.3);
}
 .inside-circle {
   position: relative;
   margin: 10px auto;
   border-radius: 80px;
   width: 80px;
   height: 80px;
   text-align: center;
   overflow: hidden;
   box-shadow: 0px 0px 0px 150px #ccc;
}
.animate .inside-circle {
   animation: eclipse 2s linear forwards;
}
.animate .circle-1 {
   animation: eclipse 2s linear forwards;
}
.animate .circle-3 {
   animation: eclipse 2s linear forwards;
}
.animate .circle-2{
   animation: eclipse 2s linear forwards;
}
.animate .line-in {
   animation: animateThis 2s linear forwards;
}
.animate .line-in-0 {
  animation: animateheight 2s linear forwards;
}
.animate .line-in-3 {
  animation: animateThis 2s linear forwards;
}
.animate .line-in-01{
  animation: animateThis 2s linear forwards;
}
.animate .line-doc-in {
   animation: animateheight 2s linear forwards;
}
.line-doc-in{
  background: red

}
.line-doc{
  position: absolute;
  height: 247px;
  top: 18px;
  width: 5px;
  background: rgba(0, 159, 223, 0.3);
}

.animate .circle-1 {
 animation-delay: 0s;
}
.animate .circle-3 {
 animation-delay: 6s;
}
.animate .circle-2 {
 animation-delay: 6s;
}
.animate .line-in {
   animation-delay: 0s;
}
.animate .line-in-0 {
   animation-delay: 2s;
}
.animate .line-in-01 {
   animation-delay: 4s;
}
.animate .line-doc-in {
   animation-delay: 2s;
}
.animate .anim-second::before {
   transition-delay: 1s !important;
}
.animate .line-in-3 {
   animation-delay: 4s;
}

@keyframes animateheight{
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes animateThis {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
 @keyframes eclipse {
   0% {
     box-shadow: 0px -240px 0px 150px #009fdf, 0px 0px 0px 150px #ccc;
  }
   100% {
     box-shadow: 0px 0px 0px 150px #009fdf, 0px 0px 0px 150px #ccc;
  }
}
 @keyframes line {
   0% {
     box-shadow: 0px -240px 0px 150px #009fdf, 0px 0px 0px 150px #ccc;
  }
   100% {
     box-shadow: 0px 0px 0px 150px #009fdf, 0px 0px 0px 150px #ccc;
  }
}


 .vertical-line {
   background: #ccc;
   width: 10px;
   height: 150px;
   margin: 0 auto;
}
 .vertical-line::before {
   content: "";
   display: block;
   background: #009fdf;
   width: 100%;
   height: 0;
   margin: auto;
}
 .animate .vertical-line::before {
   transition: height 1s linear;
   height: 150px;
}
 .horizontal-line {
   background: #ccc;
   height: 10px;
   width: 290px;
   margin: 80px auto;
   position: relative;
   left: 225px;
}
 .horizontal-line::before {
   content: "";
   position: absolute;
   background: #009fdf;
   width: 0;
   height: 10px;
   margin: auto;
   left: 5px;
}
 .animate .horizontal-line::before {
   transition: width 0.5s linear;
   width: 290px;
}
 .corner {
   position: absolute;
   width: 90px;
   height: 90px;
}
 .corner__left {
   top: -80px;
   left: -85px;
}
 .corner__right {
   bottom: -80px;
   right: -85px;
}
 .corner path {
   stroke-width: 11px;
   fill: none;
}
 .corner .grey-path {
   stroke: #ccc;
}
 .corner .blue-path {
   stroke: #009fdf;
   stroke-dasharray: 200;
   stroke-dashoffset: 200;
}
 .animate .corner .blue-path {
   animation: corner-fill linear 0.5s forwards;
}
 @keyframes corner-fill {
   to {
     stroke-dashoffset: 0;
  }
}
 .animate .anim-first {
   animation-delay: 0s;
}
 .animate .anim-first .icon {
   transition-delay: 0s;
}
 .animate .anim-second::before {
   transition-delay: 1s !important;
}
 .animate .anim-third {
   animation-delay: 2s;
}
 .animate .anim-third .icon {
   transition-delay: 2s;
}
 .animate .anim-fourth::before {
   transition-delay: 3s !important;
}
 .animate .anim-fifth {
   animation-delay: 4s !important;
}
 .animate .anim-6th::before {
   transition-delay: 4.4s !important;
}
 .animate .anim-7th {
   animation-delay: 4.9s !important;
}
 .icon {
   display: block;
   width: 100%;
   height: 0%;
   overflow: hidden;
}
 .animate .icon {
   transition: height 1s linear;
   height: 100%;
}
 .icon::before {
   content: "";
   display: inline-block;
   position: relative;
   font-size: 40px;
   top: 40px;
   margin-top: -25px;
   color: #009fdf;
   overflow: hidden;
}
 .icon_checkmark::before {
   content: "\2714";
}
 .icon_whistle::before {
   display: block;
   height: 40px;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(data:image/svg+xml;
  base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9Ijc1IiBoZWlnaHQ9Ijc1IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGZpbGw9IiMwMDlGREYiPiAgPHRpdGxlPndoaXN0bGU8L3RpdGxlPiAgPHBhdGggZD0iTTguMjEzIDE3LjQxYzAuNjk3LTIuNTQyIDMuMDI0LTQuNDEgNS43ODctNC40MWgxdjJoM3YtMmgxMHYzbC04LjEzMiAxLjc0M2MwLjA4NiAwLjQwNSAwLjEzMiAwLjgyNiAwLjEzMiAxLjI1NyAwIDMuMzE0LTIuNjg2IDYtNiA2LTIuNzYzIDAtNS4wOTAtMS44NjgtNS43ODctNC40MS0wLjMzNiAwLjI1Ny0wLjc1NyAwLjQxLTEuMjEzIDAuNDEtMS4xMDUgMC0yLTAuODk1LTItMnMwLjg5NS0yIDItMmMwLjQ1NiAwIDAuODc3IDAuMTUzIDEuMjEzIDAuNDF2MCAwek03IDE4Yy0wLjU1MiAwLTEgMC40NDQtMSAxIDAgMC41NTIgMC40NDQgMSAxIDEgMC41NTIgMCAxLTAuNDQ0IDEtMSAwLTAuNTUyLTAuNDQ0LTEtMS0xdjB6TTE2IDd2NGgxdi00aC0xek0yMS4xMiA4LjAyMWwtMi4xMiAzLjM5MiAwLjg0OCAwLjUzIDIuMTItMy4zOTItMC44NDgtMC41M3pNMTEuODQ4IDguMDIxbDIuMTIgMy4zOTItMC44NDggMC41My0yLjEyLTMuMzkyIDAuODQ4LTAuNTN6Ij48L3BhdGg+PC9zdmc+);
}
